.main {
    text-align: center;
    max-height: 90vh;
    padding: 0 24px;
    margin-top: 34px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.activeCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.imgContainer {
    z-index: 0;
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 400px; /* <-- altura fixa */
    display: flex;
    align-items: end;
    justify-content: center;

    overflow: hidden; /* importante para esconder o excesso da imagem */
}

.img {
    height: 85%;        /* <-- forçamos a imagem a preencher toda a altura do container */
    width: auto;         /* <-- mantemos proporção */
    object-fit: cover;   /* cobre o container sem deformar */
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 65%, transparent 97%);
}


.num {
    color: gray;
    font-weight: bolder;
    margin-right: 30px;
    letter-spacing: 2px;
}

.pageActual {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 50px;
}

.role {
    font-size: 1.2rem;
    color: var(--Blue300);
    text-transform: uppercase;
}

.name {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bio {
    font-size: 1.1rem;
    color: var(--Blue300);
    padding: 0 24px;
}

.info {
   margin-bottom: 68px;
}