.main {
    width: 100%;
    text-align: center;
}


.num {
    color: var(--Blue300);
    margin-right: 20px;
}

.link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--Blue300);
    cursor: pointer;
}

.link:hover {
    background-color: #fff;
    color: var(--Blue900);
}

.active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--Blue900);
}

.techContainer {
    margin-bottom: 40px;

}

.techImgContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.techImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    margin-top: 40px;
}

.textContainer h1 {
   font-size: 1.2rem;
   color: var(--Blue300);
}

.textContainer h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
}

.textContainer p {
    font-size: 1.1rem;
    margin-top: 20px;
    color: var(--Blue300);
    line-height: 1.5;
}


@media screen and (min-width: 768px){
    .main {
        margin-top: 28px;
    }

    .pageActual {
        text-align: left;
        margin-left: 30px;
    }

    .techImgContainer {
        height: auto;
    }

    .textContainer {
        max-width: 540px;
    }

    .link,
    .active {
        width: 50px;
        height: 50px;
        font-size: 1.4rem;
    }

    .textContainer h1 {
        font-size: 1.4rem;
    }

    .textContainer h2 {
        font-size: 2.6rem;
    }


}