.header {
    position: absolute;
}
.format {
    text-decoration: none;
    color: #fff;
}

.logo {
    margin-top: 10px;
}


@media screen and (min-width: 768px) {
    header {
        position: relative;
        height: 100px;
    }
}


@media screen and (min-width: 1200px){
    header {
        margin-top: 30px;
    }
    
}
