body.home-background {
  background: url('/space_tourism-website-react/images/home/background-home-mobile.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.destination-background {
  background: url('/space_tourism-website-react/images/destination/background-destination-mobile.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.crew-background {
  background: url('/space_tourism-website-react/images/crew/background-crew-mobile.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.default-background {
  background-color: white;
}


@media screen and (min-width: 768px){

  body.home-background {
    background: url('/space_tourism-website-react/images/home/background-home-tablet.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.destination-background {
    background: url('/space_tourism-website-react/images/destination/background-destination-tablet.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.crew-background {
    background: url('/space_tourism-website-react/images/crew/background-crew-tablet.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.default-background {
    background-color: white;
  }
  
}

@media screen and (min-width: 1200px){

  body.home-background {
    background: url('/space_tourism-website-react/images/home/background-home-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.destination-background {
    background: url('/space_tourism-website-react/images/destination/background-destination-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.contato-background {
    background: url('/space_tourism-website-react/images/crew/background-crew-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  body.default-background {
    background-color: white;
  }
  
}
