@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
  /* Colors */

  --Blue900: #0B0D17;
  --Blue300: #D0D6F9;
  --White: #FFFFFF;

  /* Fonts */

  --FontPrimary: "Bellefair", serif;

}

* {
  color: #fff;
  font-family: var(--FontPrimary);

}

body {
  overflow-x: hidden;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  cursor: pointer;
  
}
